@use "../abstracts/vars";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;600&display=swap");
@font-face {
  font-family: Tangled;
  src: url(../.././KGTangledUpInYou.ttf);
}

// Fonts
h1,
h2 {
  font-family: Tangled, sans-serif;
}

h3,
h4,
p,
a {
  font-family: "Montserrat", sans-serif;
}

// Font sizes
h1 {
  font-size: 5rem;
  margin: 0;
}

h2 {
  font-size: 3rem;
}

// Font colors
h1,
h4,
span,
a {
  color: vars.$primary-color;
}

h2,
h3,
p {
  color: vars.$secondary-color;
}

// Font weights
a {
  font-weight: 600;
}

.totalprice span {
  font-size: 7rem;
}
