$primary-color: #f2b705;
$secondary-color: #fcf8ef;
$tertiary-color: #6f6f6f;
$hover-color: #f28e13;
$screen-color: #101010;
$container-color: #262626;
$valid-color: #55b082;
$invalid-color: #dd421a;
$input-color: #333333;

$valid-box-shadow: 10px 10px 0px 0px #55b082;
$invalid-box-shadow: 10px 10px 0px 0px #dd421a;
$primary-box-shadow: 10px 10px 0px 0px #f2b705;
$hover-box-shadow: 10px 10px 0px 0px #f28e13;
