@use "../abstracts/vars";

address {
    font-family: 'Montserrat', sans-serif;
    color: vars.$tertiary-color;
    ul {
        list-style: none;
        padding: 0;
    }
}

.bartender {
    img {
        // clip-path: circle(50% at 50% 50%);
        border-radius: 50%;
        border: 2px solid vars.$secondary-color;
    }
}