@use "../abstracts/vars";

#cartItems {
  .basketitems {
    border-bottom: 2px solid #6f6f6f;
    margin-bottom: 3rem;
  
    
  }
  h4 {
    color: vars.$secondary-color;
    font-weight: 600;
    text-transform: uppercase;
    span {
      font-family: Tangled, sans-serif;
      font-size: 3.5rem;
    }
  }
  p.price {
    color: vars.$tertiary-color;
    font-family: 'Montserrat', sans-serif;
    font-size: .8rem;
    span {
      font-weight: 600;
      color: vars.$tertiary-color;
      font-size: 1.2rem;
    }
  }
}


