@use "../abstracts/vars";

.beerOnTap {
  margin-top: 0.5rem;
  border-bottom: 2px solid vars.$tertiary-color;
  p {
    margin: 0;
    font-weight: 600;
  }
  .price {
    font-size: 2rem;
    > span {
      color: vars.$primary-color;
    }
  }
}

.notontap {
  color: vars.$invalid-color;
}
