@use "../abstracts/vars";

input:-webkit-autofill {
  -webkit-text-fill-color: vars.$secondary-color !important;
  -webkit-box-shadow: 0 0 0 30px vars.$input-color inset !important;
  box-shadow: 0 0 0 30px vars.$input-color inset !important;
}

label {
  color: vars.$secondary-color;
}

input {
  border-radius: 0px !important;
  border: 1px solid vars.$primary-color !important;
  color: #b1afaf !important;
}

input,
textarea {
  background-color: vars.$input-color !important;
}

.hint {
  color: vars.$container-color;
}

input:valid {
  border: 1px solid vars.$valid-color !important;
}

input:not(:focus):not(:placeholder-shown):invalid {
  border: 1px solid vars.$invalid-color !important;
}

input:not(:focus):not(:placeholder-shown):invalid ~ .hint {
  color: vars.$invalid-color;
}

input:not(:focus):not(:placeholder-shown):valid {
  border: 1px solid vars.$valid-color !important;
}

.expiry {
  margin-right: 30px;
}

.expiry label {
  width: 150px;
}

#PaymentForm span {
  font-size: 11px;
}

.hint {
  cursor: default;
}
.form-group {
  margin-bottom: 1rem;
}

#multihint {
  margin-bottom: 2rem;
}

@media only screen and (max-width: 1000px) {
  #visualcard {
    display: none;
  }
}
