@use "../abstracts/vars";

.starContainer {
    width: 25px;
    height: 25px;
    margin: 2px;
    pointer-events: none;
}

.star {
    pointer-events: all;
    polygon {
        pointer-events: none;
    }
}